body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    align-items: center;
}

.game-container {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.header {
    font-size: 40px;
    text-align: center;
}

.play-button {
    width: 150px;
    height: 60px;
    color: darkblue;
    background-color: lightblue;
    font-size: 24px;
    font-weight: 500;
    border-radius: 10px;
    border: 2px solid darkblue;
    margin: 10px;
}

.tile {
    margin: 4px;
    border: 2px solid darkgrey;
    background-color: rgb(255, 255, 255);
}

.tile-on {
    background-color: grey;
}